*
{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
body
{
	background-color:white;
}
.head
{
	padding:60px;
	width:100%;
  background: linear-gradient(to right, #3fada8, #808080);
}
.head h1{
	color:#ECF0F1;
	font-size:3em;
	text-align:center;
}
/*Start css of social media button*/
.s-m
{
	padding:20px;
	width:100%;
	background:white;
	border-radius:15px;
	text-align:right;
}
.s-m a{
	display:inline-flex;
	width:30px;
	height:30px;
	background:#77ACDD;
	color:white;
	margin:0 6px;
	border-radius:50%;
	justify-content:center;
	align-items:center;
	transition:0.4s;
	font-size:15px;
}
.s-m a:hover{
	background:red;
}
.s-m a i{
	transition:0.4s all;
}
.s-m a:hover >i{
	transform:scale(1.6) rotate(360deg);
}
/*End code of social media button*/

/*Start of navigation button*/


/*End of nav bar button*/

/*html, body {
      margin: 0;
      padding: 0;
      width: 100%;
}*/

body {
      font-family:"Times New Roman", Times, serif";
      font-weight: lighter;
}

header {
      width: 100%;
      height: auto;
      background: url(hero.jpg) no-repeat 50% 50%;
      background-size: cover;
}

.content {
      width: 94%;
      margin: 4em auto;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
}

/*.logo {
	  position:relative;
      line-height: 60px;
      float: left;
      margin: 16px 46px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
}*/

 /*.menu{
	 overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
 }*/
nav {
      width: 100%;
      line-height: 60px;
	  overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;/*for move top and stop menu at top position code 1,2,3,4 four line code*/
    top: 0;
}

nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}

nav.black ul {
      background: #000;
}

nav ul li {
      display: inline-block;
      padding: 16px 25px;;
}

nav ul li a {
      text-decoration: none;
      color:#656B70  ;
      font-size: 16px;
}


.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}

@media(max-width: 786px) {

     /* .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }
*/
      nav ul {
		   overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;/*for move top and stop menu at top position code 1,2,3,4 four line code*/
    top: 0;
            max-height: 0px;
            background: #000;
      }

      nav.black ul {
            background: #000;
      }

      .showing {
            max-height: 60em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 2px;
            text-align: center;
      }

      .menu-icon {
            display: block;
      }

}

/*start of code navigation abr*/

.quick{
	height:30%;
	padding:10px;
	width:100%;
	background: white;
	margin-top:15px;


}
.s-sec{

	height:70px;
	width:24%;
	background: white;
	border:2px solid;
	border-color:#656B70;
	display:inline-block;
	overflow: auto;
  margin-top: 12px;
	padding: 4px;

}
.s-sec h3{
	margin-top: 1px;
	font-size: 12px;
	text-align: center;
	overflow: auto;

}
.det_blo{
	height: auto;
	width: auto;
	margin: 10px;
	padding: 4px;
	border: 2px solid black;

}
.block{
	height: auto;
	width: 32.5%;
	border:2px solid;
	display:inline-block;
	margin-top:4px;
}
 .sa{
	width: 100%;
	height: 60px;
	background: linear-gradient(to right, #3fada8 , #808080);

}
.sa h2{
	text-align: center;
	color:#ECF0F1;
}
.block h4{
	padding: 6px;

}
/* End of coding menu bar*/

/*marquee code started here*/
.marq
{
    height:auto;
    width:100%;
    background-color:white;
    padding: 4px;
    border:2px solid black;
    border-radius: 8px;
		margin-top: 10px;

}
.marq1
{
    margin-top: 2%;
    height:30%;
    width:100%;
    background-color:white;
    border-radius: 8px;

}
.noti
{
	  text-align: center;
    width:100%;
    padding: 2px;
    background: linear-gradient(to right, #3fada8, #808080);
    border-radius: 8px;
}
.a2
    {
	text-decoration: underline;
	font-size: 23px;
	color:red;
	 }

/*marquee code End here*/

/*contact page code start here*/

	.container{
	width: 100%;
	height:auto;
	text-align: center;
	margin-top:60px;
	}
	.contact-method{
	width: 220px;
	height: 140px;
	display: inline-block;
	background: #3498db;
	margin: 10px;
	color: #fff;
	position: relative;
	cursor: pointer;
	}
	.contact-method i{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	font-size: 30px;
	line-height: 140px;
	background: #34495e;
	z-index: 1;
	transition: transform 0.4s;
	}
	.contact-method span{
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	padding: 10px 0;
	font-family: 'Noto Serif', serif;
	}

	.contact-method:hover i{
	transform: translateY(-40px);
	}

	.contact-section{
		background:url(bg.png) no repeat center;
		background-size:cover;
		padding:40px 0;
	}
	.contact-section h1{
		text-align:center;
		color:#ddd;
	}
	.border{
		width:100px;
		height:1opx;
		background:#34495e;
		margin:40px auto;
	}
	.contact-form{
		max-width:600px;
		margin:auto;
		padding:0 10px;
		overflow:hidden;
	}
	.contact-form-text{
		display:block;
		width:100%;
		box-sizing:border-box;
		margin:16px 0;
		border:0;
		background:#111;
		padding:20px 40px;
		outline:none;
		color:#ddd;
		transition:0.5s;
	}
	.contact-form-text:focus{
		box-shadow:0 0 10px 4px #34495e;
	}
	.textarea.contact-form-text{
		resize:none;
		height:120px;
	}
	.contact-form-btn{
		float:right;
		border:0;
		background:#34495e;
		color:#fff;
		padding:12px 50px;
		border-radius:20px;
		cursor:pointer;
		transition:0.5s;
	}
	.contact-form-btn:hover{
		background:#2980b9;
	}






/*contact page code ended here*/

/*Footer Code Started Here*/
/*.footer {
    position: fixed;
    left: 0;
    height: 30%;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}*/
.footer {
    position: fixed;
    bottom: 0;
}
a{
	text-decoration: none;
	outline: none;
}
.footer-main-div{
	width: 100%;
	height: auto;

	background: #272727;
  border-radius: 8px;
	padding:30px 0px;
	margin-top:40px;
}
.footer-social-icons{
	width: 100%;
	height: auto;
	margin: auto;
}
.footer-social-icons ul{
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.footer-social-icons ul li{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0px 10px;
	border-radius: 100%;
	background: #808080;
}
.footer-social-icons ul li a{
	color: #272727;
	font-size: 25px;
	display: block;
}
.footer-social-icons ul li a i{
	line-height: 50px;
}
.footer-social-icons ul li:hover{
	background:#3fada8;
}
.footer-social-icons ul li:hover a{
	color: #fff;
}
.footer-menu-one{
	width: 100%;
	height: auto;
	margin: auto;
	margin-top:25px;
}
.footer-menu-one ul{
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.footer-menu-one ul li{
	display: inline-block;
	margin: 0px 15px;
}
.footer-menu-one ul li a{
	font-family: arial;
	font-size:15px;
	font-weight: 600;
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.footer-menu-one ul li a:hover{
	color: #3fada8;
}
.footer-menu-two{
	width: 100%;
	height: auto;
	margin: auto;
	margin-top:15px;
}
.footer-menu-two ul{
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.footer-menu-two ul li{
	display: inline-block;
	margin: 0px 15px;
}
.footer-menu-two ul li a{
	font-family: arial;
	font-size:14px;
	font-weight: 600;
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.footer-menu-two ul li a:hover{
	color: #3fada8;
}
.footer-bottom{
	width: 100%;
	height: auto;
    margin: auto;
    background: #32CD32;
    border:1px solid red;
    border-radius:8px;
    border-radius:
    padding: 10px;
}
.footer-bottom p{
	font-family: arial;
	font-size: 14px;
	text-align: center;
	color: #fff;
	font-weight: 600;
	letter-spacing: 1px;
}
.footer-bottom p a{
	color: #fff;
}
.footer-bottom p a:hover{
	color: #272727;
}
/*Footer Code End Here*/

/* sample page code here */
.sam_main{
	height: auto;
	width:80%;
	margin-top: 15px;
	margin-left: 10%;

}
.detail{
	height: auto;
	width: auto;
	margin-top: 10px;


}
.des{
height: auto;
width: auto;
border:2px solid black;

}
.des p b{
  color: red;
	text-align: center;
}
.des p{
	text-align: center;
		margin-top: 10px;
		color: green;
		margin-bottom: 10px;
}
.sm{
	height: auto;
	width: 49.2%;
	border:2px solid black;
	display: inline-block;
}
.sm h4{
	text-align: center;
	color: red;
}
.sm li{
	text-align: left;
	margin-top: 6px;
}
/* sample page code Ended here */
/* engg page code start here */
.title{
	width: 99%;
	height: 60px;
	border: 2px solid black;
	padding: 4px;
	margin-left: 6px;
	margin-top: 8px;
	background: linear-gradient(to right, #3fada8 , #808080);
}
.title h2{
	text-align: center;
	padding: 4px;
	color:#ECF0F1;
}
/* engg page code ended here */
/* subject link page layout start here */
.main_sub{
	height: auto;
	width: 100%;
	border: 2px solid black;
	margin-top: 30px;
	padding: 4px;
}
.main_sub p{
padding: 6px;
color: red;
font-size: 30px;
margin-left: 120px;
}
.main_sub h2{
	margin-left: 9%;
}
.fieldset_sec{
	width: 100%;
	height:auto;

}
}





/* subject link page layout ended here */











/* engg page code ended here */
